.header-cnc {
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cnc-logo-area {
        font-size: 30px;
        color: var(--color-01);
    }
    .cnc-navigation {
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 100px;
        .cnc-page {
            color: var(--color-01);
            &:hover {
                color: var(--color-01); 
            }
            &.active-navigation {
                color: var(--color-01);  
            }
        }
    }

}