.header-new-post-cnc {
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    background: var(--color-11);
    justify-content: space-between;
    z-index: 10;
    .cnc-logo-area {
        cursor: pointer;
        font-size: 30px;
        color: var(--color-01);
    }
    .menu-nav {
        display: none;
    }
    .cnc-navigation {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        .cnc-item {
            cursor: pointer;
            margin: 8px;
            color: var(--color-01);
            .cnc-navigator {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    transition: width 0.5s ease;
                    top: 4px;
                    width: 0;
                    height: 100%;
                    border-bottom: 1px solid var(--color-01);
                }
            }
            &:hover {
                color: var(--color-01);
                .cnc-navigator {
                    &::before {
                        width: 100%;
                    }
                }
            }
            &.active-navigation {
                color: var(--color-01);
                .cnc-navigator {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    .cnc-navigation-mobile {
        display: none;
    } 
}

.layout-tablet {
    .header-new-post-cnc {
        .cnc-navigation-mobile {
            display: none;
        } 
    }
}

.layout-mobile {
    .header-new-post-cnc {
        .menu-nav {
            display: flex;
            align-items: center;
            gap: 8px;
            .icon-menu {
                cursor: pointer;
                filter: var(--filter-03);
            }
        }
        .cnc-navigation {
            display: none;
        }
        .cnc-navigation-mobile {
            transition: all 0.1s ease;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: var(--color-11);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            .cnc-logo-area-mobile {
                font-size: 30px;
                color: var(--color-12);
            }

            .cnc-item-mobile {
                color: var(--color-12);
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                .cnc-navigator-mobile {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        transition: width 0.5s ease;
                        top: 4px;
                        width: 0;
                        height: 100%;
                        border-bottom: 1px solid var(--color-01);
                    }
                }
                &:hover {
                    color: var(--color-01);
                    .cnc-navigator-mobile {
                        &::before {
                            width: 100%;
                        }
                    }
                }
                &.active-navigation {
                    color: var(--color-01);
                    .cnc-navigator-mobile {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
            .close-nav {
                filter: var(--filter-03);
            }
        }
    }
}
