.post {
    cursor: pointer;
    display: flex;
    gap: 24px;
    padding: 20px;
    &:hover {
        box-shadow: 0 0 11px var(--color-01);
        border-radius: 16px;
    }
    .post-image {
        width: 100%;
    }
    .post-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .post-date-time {
            color: var(--color-02);
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            word-break: break-all;
        }
        .post-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: var(--color-01);
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .post-description {
            position: relative;
            color: var(--color-05);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 100px;
        }
        .post-category {
            margin-top: 12px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            .category-item {
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                border-radius: 16px;
            }
        }
    }
}
.layout-mobile {
    .post {
        padding: 10px;
    }
}