.avatar-wrapper {
	position: relative;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all 0.3s ease;
	&:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
	.avatar-pic {
		height: 100%;
		width: 100%;
		transition: all 0.3s ease;
		&:after {
			content: url("../../../public/images/icon/user.svg");
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			position: absolute;
			background: var(--color-13);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.image-pic {
		position: relative;
		border-radius: 4px;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease;
		&:after {
			content: url("../../../public/images/icon/add-pic.svg");
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			position: absolute;
			background: #ecf0f1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
