:root {
    --color-01: #1A1A1A;
    --color-02: #6941C6;
    --color-03: #3538CD;
    --color-04: #C11574;
    --color-05: #667085;
    --color-06: #026AA2; 
    --color-07: #C4320A;
    --color-08: #027A48;
    --color-09: #C01048;
    --color-10: #363F72;
    --color-11: #ffffff;
    --filter-01: unset;
}
.dark {
    --color-01: #ffffff;
    --color-02: #6941C6;
    --color-03: #3538CD;
    --color-04: #C11574;
    --color-05: #667085;
    --color-06: #026AA2; 
    --color-07: #C4320A;
    --color-08: #027A48;
    --color-09: #C01048;
    --color-10: #363F72;
    --color-11: #090D1F;
    --filter-01: brightness(100);
}
