.blog-page {
    .blog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-12);
        padding: 0 14px;
        font-weight: bold;
    }
}