.blog-page {
    .blog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-12);
        font-size: 180px;
        font-weight: bold;
        border-bottom: 1px solid var(--border-color-01);
        border-top: 1px solid var(--border-color-01);
        margin: 30px 0;
    }
    .blog-body {
        .recent-blog-post {
            padding: 30px 80px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .title {
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
            }
            .recent-content {
                margin: auto;
                display: grid;
                grid-template-columns: max-content max-content;
                grid-template-rows: 1fr 1fr;
                gap: 32px;
                grid-template-areas: 
                    "content1 content2"
                    "content1 content3";
                .post-0 {
                    grid-area: content1;
                    flex-direction: column;
                    justify-content: flex-start;
                    .post-image {
                        max-width: 600px;
                    }
                }
                .post-1 {
                    grid-area: content2;
                    .post-image {
                        max-width: 400px;
                    }
                }
                .post-2 {
                    grid-area: content3;
                    .post-image {
                        max-width: 400px;
                    }
                }
            }
        }
    }
}

.layout-tablet {
    .blog-page {
        .blog-header {
            font-size: 110px;
        }
    }
}

.layout-mobile {
    .blog-page {
        .blog-header {
            font-size: 65px;
        }
    }
}
