.cnc-body {
    background: var(--black-01);
    color: var(--black-02);
    overflow-wrap: break-word;
    font-weight: inherit;
    word-break: break-word;
    font-size: 22px;
    line-height: 30px;
}